html,
body {
    font-family: gotham;
}

body {
    padding-top: 65px;
}

.map-info-box tr td {
    padding-right: 10px;
}

.map-info-box tr:nth-child(even) {
    background: #f5f5f5;
}

.chart-container>.dc-chart {
    text-align: center;
    float: none;
}


/*color pallate

https://coolors.co/2f4858-33658a-86bbd8-f6ae2d-f26419*/
