body.application {
    padding: 0;
    margin: 0;
}

.row {
    margin: 0;
}

#app-wrapper {
    height: 100%;
    position: absolute;
    width: 100%;
}

#app-maparea {
    border-right: 1px solid #d7d7d7;
    position: fixed;
    top: 0px;
    width: 67%;
    z-index: 0;
}

#app-sidebar {
    padding: 10px;
    position: absolute;
    right: 0;
    width: 33%;
    height: 100%;
}

#app-sidebar .chart-wrapper {
    border: medium none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
}

.mapboxgl-popup-content table {
    width: 100%;
}

.mapboxgl-popup-content table tr td {
    padding-right: 10px;
}

.mapboxgl-popup-content table tr:nth-child(even) {
    background: #f5f5f5;
}

.chart-stage>.dc-chart {
    float: none;
    text-align: center;
}

.reset {
    float: right;
}

.sidebar-charts {
    overflow-y: scroll;
    height: 85%;
}

.sidebar-header-bar {
    margin-bottom: 10px;
}

.sidebar-header-title {
    font-size: 30px;
    font-weight: 500;
}

.mapboxgl-popup-content {
    max-width: 250px;
    font-family: 'Gotham Rounded SSm A', 'Gotham Rounded SSm B', 'Gotham', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.mapboxgl-popup-content tr:last-child td:last-child {
    line-height: normal;
}

.mapboxgl-popup-content h5 {
    font-size: 24px;
}
